@import "index";

.badge {
    display: inline-block;
    min-width: 8px;
    padding: 3px 5px;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge:empty {
    display: none;
}
.badge-light-gray {
    background-color: #e6e6e6;
    color: #666;
}
.badge-blue {
    background-color: #4cb5db;
}
.badge-green {
    background-color: #4cc383;
}
.badge-cyan {
    background-color: #45cce7;
}
.badge-orange {
    background-color: #fe9967;
}
.badge-red {
    background-color: #e56669;
}
.badge-yellow {
    background-color: #fcde78;
    color: #666666;
}
.badge-dark {
      background-color: #666666;
}
