@import "fa";

.container {
    padding: 20px 20px 0;
}
.section-group {
    margin-bottom: 12px;
}
.dropdown-example .dropdown-menu {
    clear: left;
    position: static;
}
.dropdown-example .dropdown-menu .badge {
    float: right;
    margin-left: 24px;
    margin-top: 1px;
}
