@import "index";

.dropdown-filter > .dropdown-menu {
    padding: 0;
}
.dropdown-menu-filter {
    margin: 8px;
}
.dropdown-menu .checkbox > label {
    width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
.input-focus {
    border-color: #0096cc;
    transition: all .2s linear 0s;
    outline: 0;
}

.input-icon-group {
    position: relative;

    > .form-control {
        padding-left: 30px;
        padding-right: 36px;
    }

    > .form-control:focus + .input-icon-label > i,
    > .input-icon-label .focus {
        transition: all .2s linear 0s;
        color: #0096cc;
    }
}

.input-icon-label {
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -10px;
    color: #666;
}

.form-control {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 13px;
    color: #222;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
